body {
  margin: 0px;
  padding: 0px;
  background: #000;
  }
  
  @font-face {
    font-family: Montserrat-Bold;
    src: url("../src/Baoyc/assets/font-family/Montserrat-Bold.ttf");
  }
  @font-face {
    font-family: Montserrat-BoldItalic;
    src: url("../src/Baoyc/assets/font-family/Montserrat-BoldItalic.ttf");
  }
  
  
  
  @font-face {
    font-family: Montserrat-Light;
    src: url("../src/Baoyc/assets/font-family/Montserrat-Light.ttf");
  }
  
  @font-face {
    font-family: Montserrat-LightItalic;
    src: url("../src/Baoyc/assets/font-family/Montserrat-LightItalic.ttf");
  }
  @font-face {
    font-family: Montserrat-Medium;
    src: url("../src/Baoyc/assets/font-family/Montserrat-Medium.ttf");
  }
  
  @font-face {
    font-family: Montserrat-MediumItalic;
    src: url("../src/Baoyc/assets/font-family/Montserrat-MediumItalic.ttf");
  }
  
  @font-face {
    font-family: Montserrat-Regular;
    src: url("../src/Baoyc/assets/font-family/Montserrat-Regular.ttf");
  }
  
  @font-face {
    font-family:Montserrat-SemiBold;
    src: url("../src/Baoyc/assets/font-family/Montserrat-SemiBold.ttf");
  }
  
  @font-face {
    font-family:Montserrat-SemiBoldItalic;
    src: url("../src/Baoyc/assets/font-family/Montserrat-SemiBoldItalic.ttf");
  }
  @font-face {
    font-family:Montserrat-ExtraBold;
    src: url("../src/Baoyc/assets/font-family/Montserrat-ExtraBold.ttf");
  }
  
  @font-face {
    font-family:Montserrat-ExtraBoldItalic;
    src: url("../src/Baoyc/assets/font-family/Montserrat-ExtraBoldItalic.ttf");
  }
  